body{
    font-family: DM Sans,system-ui,sans-serif !important; 
}
.field{
    display: flex;
}
.profile{
            background-color:#0DBA4B ;
        color: white;
        border-style: none;
        font-family: inherit;
        text-align: center;
        text-decoration: none;
        
}
::placeholder{
    opacity:0.5 !important;
}